.pagination{
    margin-top: 50px ;
    margin-left: 35%;
    padding-bottom: 50px;
    
}
.grid{
    margin-top: 600px;
}
.notFound{
    margin-top: 80px;
    margin-left: 40%;
    color: white;
}
.loading{
    margin-top: 90px;
    margin-left: 45%;
}